*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../imgs/fundo.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}


.main__componentesCalculadora{
    max-width: 75rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;  
}

main input{
    width: 90%;
    border: solid white;
    border-radius: 10px;
    outline: none;
    font-size: 1.5rem;
    transition: transform 1s;
    text-align: center;
}

main label{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

main input::placeholder{
    color: black;
    font-weight: bold;
}

main input:focus{
    transform: scale(1.1);
}

.main__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* background-color: black; */
    margin: 0 100px;
    width: 40%;
}

#main__btnCalcular{
    width: 90%;
    height: 2.3rem;
    border: 0px solid ;
    border-radius: 10px;
    background:linear-gradient(to right, #1AB2F4, #66E845);
    color: white;
    font-size: 2rem;
    transition: transform 1s;
}

#main__btnCalcular:hover{
    transform: scale(1.1);
}

.main__resultado{
    border: 0 solid;
    height: 12rem;
    width: 14rem;
    background-color: white;
    border: 4px solid rgb(48, 252, 89);
    border-radius: 16rem;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}

#resultado{
    margin-top: 2.6rem;
}

#mensagemErro{
    background-color: white;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

@media (max-width: 950px){
    .main__componentesCalculadora{
        flex-direction: column;
    }

    .main__resultado{
        margin-top: 4rem;
    }
}

